<style type="text/css">
.jcontainer {
    display: table;    
}

.jrow  {
    display: table-row;    
}

.jrow div 
{
    margin-bottom: 5px;
}

.jleft, .jright, .jmiddle {
    display: table-cell;
    text-align: left;
    margin-bottom: 5px;
}

.jleft 
{
    text-align: right;
}
.jright 
{
    width: 500px;
}

.webGrid thead td 
{
    width:100%;
    text-align:right;
}
</style>

@if (ViewData.TemplateInfo.TemplateDepth > 1) {
    @ViewData.ModelMetadata.SimpleDisplayText 
} else {    
    <div class="jcontainer">
    @foreach (var prop in ViewData.ModelMetadata.Properties.Where(pm => pm.ShowForEdit && !ViewData.TemplateInfo.Visited(pm))) {
        if (prop.HideSurroundingHtml) {
            @Html.Editor(prop.PropertyName)
        } else {
                <div class="jrow">
                    <div class="editor-label jleft" style="font-weight:bold;padding-bottom:5px;padding-left:5px;">                    
                        @(prop.IsRequired ? "*" : "")@Html.Label(prop.PropertyName)                     
                    </div>            
                    <div class="editor-field jright" style="padding-bottom:5px;padding-left:5px">
                        @Html.Editor(prop.PropertyName)
                        @Html.ValidationMessage(prop.PropertyName, "*")
                    </div>
                </div>            
        }
    }
    </div>    
}